<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My App</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="container col s12 l4">
        <h2>Add a name and a quote.</h2>
        <form action="/quotes" method="POST">
          <input type="text" placeholder="name" name="name" />
          <input type="text" placeholder="quote" name="quote" />
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>

      <div class="container col s12 l4">
        <h2>Replace a quote from the list</h2>
        <!-- <p>Replace first sam's quote with a quote written by Darth Vadar</p> -->
        <input id="oldQuote" type="text" placeholder="oldQuote" name="quote" />
        <input id="newQuote" type="text" placeholder="newQuote" name="quote" />
        <button id="update-button" class="btn">Replace sam's quote</button>
      </div>

      <div class="container col s12 l4">
        <h2>Remove a quote and a name</h2>
        <!-- <p>
          Delete one Darth Vadar's quote. Does nothing if there are no more
          Darth Vadar's quote
        </p> -->
        <input
          id="deleteQuote"
          type="text"
          placeholder="deleteQuote"
          name="delete"
        />
        <button id="delete-button" class="btn">
          Delete Darth Vadar's quote
        </button>
      </div>

      <div id="message"></div>
    </div>

    <!-- <%= quotes %> -->
    <div class="container center">
      <h2>Quotes</h2>

      <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <h5>
            <!-- Output name from the iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quotes[i].quote %></span>
          </h5>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- <script src="/public/main.js"></script> -->
    <script src="/main.js"></script>
  </body>
</html>
